.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .title {
    font-size: 26px;
    font-weight: bold;
    color: #333;
    margin-bottom: 24px;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 16px;
    align-items: center;
  }
  
  .search-input,
  .select-limit,
  .course-dropdown {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    width: 200px;
  }
  
  .search-input:focus,
  .select-limit:focus,
  .course-dropdown:focus {
    outline: none;
    border-color: #4f93b3;
  }
  
  .search-input {
    width: 250px;
  }
  
  .course-dropdown {
    width: 180px;
  }
  
  .select-limit {
    width: 140px;
  }
  
  .table-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .Closure-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  .Closure-table thead {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  
  .Closure-table tbody {
    display: block;
    width: 100%;
    overflow-y: auto;
    max-height: 450px; 
  }

  .Closure-table th, .Closure-table td {
    padding: 14px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .Closure-table th:nth-child(1), 
  .Closure-table td:nth-child(1) { 
    width: 20%; 
  }
  
  .Closure-table th:nth-child(2), 
  .Closure-table td:nth-child(2) { 
    width: 20%; 
  }
  
  .Closure-table th:nth-child(3), 
  .Closure-table td:nth-child(3) { 
    width: auto;
  }

  .table-body-container {
    display: block;
    width: 100%;
    overflow-y: auto;
    max-height: 600px;
  }
  
  .Closure-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  
  .Closure-table th {
    background: linear-gradient(180deg, #024c6ee3 0%, #026fa1e3 100%);
    color: white;
  }
  
  .Closure-table td img {
    display: block;
    margin: 0 auto;
  }
  
  .table-body-container {
    height: 500px;
    overflow-y: auto;
  }
  .table-header th{
    background: linear-gradient(180deg, #B1C29E 0%, #83956d 100%);
  }

  

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .modal-overlay.show {
    opacity: 1;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .modal-content.show {
    opacity: 1;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  